.home-page
{
                background-color: #000;
}

/* HOVERING OVER SUBMIT AND REGISTER BUTTONS */
button:hover, button:active{
        background: #355C7D;
}

/* NOT REGISTER MESSAGE STYLE */
.message {
        margin: 15px 0 0;
        color: white;
        font-size: 15px;
}

.message a{
        color: #4CAF50;
        text-decoration: none;
}

/* STYLING OF INPUT BOXES */
.textbox {
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        border-radius: 40px;
        padding: 12px 8px;
        overflow: hidden;
        margin: 0 0 16px 0;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 2px 8px 0 Reba(0,0,0, 0.05);
}

.textbox input {
        border: none;
        outline: none;
        background: none;
        font-size: 16px;
        font-weight: 500;
        float: left;
        width: 95%;
        margin: 0 8px;
        color: #fff;
}

/** POSITION OF LOG IN BOX **/
.login {
  transform: rotate(90deg);
  left: 20%;
  top: 20%;
  width: 230px;
  margin-top: -150px: /* height/2 */
  margin-left: -115px; /* width/2 */
  position: absolute;
}

/** THE STYLE OF THE LOG IN BOX **/
.login-style{
        border-radius: 25px;
        background: rgba(26,26,26,.87);
        padding: 20px;
        height: 350px;
        width: 350px;
}

a, p, button, input, label{
        font-size: 14px;
}

.form-control, label{
        background-color: transparent;
        position: absolute;
        top: 25px;
        width: 100%;
        border:0;
        padding: 5px;
}

.btn-login{
        background-color: #F8B195;
        border: 0;
        padding: 8px 70px;
        border-radius: 50px;
}

.video-background {
        transform: rotate(270deg);
        margin-top: -700px;
        width: 100%;
        min-height: 87vh;
        padding-top: 40px;
        background-size: cover;
        top: 60px;
}

/* FADING OUT EFFECTS */
.pixmap-message {
    -webkit-animation: fadeOut 2s forwards;
    animation: fadeOut 2s forwards;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    color: white;
    text-align: center;
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* FADING IN EFFECTS */
.fade-in {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 8s;
}

@keyframes fadeInOpacity {
        0% {
                opacity: 0;
        }
        100% {
                opacity: 1;
        }
}

* {
                margin: 0;
                padding: 0;
}
.fly-in-text
{
                list-style: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
}
 .fly-in-text li
{
                display: inline-block;
                margin-right: 50px;
                font-family: Open Sans, Arial;
                font-weight: 300;
                font-size: 4em;
                color: #fff;
                opacity: 1;
                transition: all 2s ease;
}
.fly-in-text li:last-child
{
                margin-right: 0;
}

.fly-in-text.hidden li
{
                opacity: 0;
}
            .fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
            .fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
            .fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
            .fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
            .fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
            .fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
            .fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }











