.register-page
{
                background-color: #000;
 }


/* HOVERING OVER SUBMIT AND REGISTER BUTTONS */
button:hover, button:active{
        background: #355C7D;
}

/* NOT REGISTER MESSAGE STYLE */
.message {
        margin: 15px 0 0;
        color: white;
        font-size: 15px;
}

.message a{
        color: #4CAF50;
        text-decoration: none;
}


/* STYLING OF INPUT BOXES */
.textbox {
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        border-radius: 40px;
        padding: 12px 8px;
        overflow: hidden;
        margin: 0 0 16px 0;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 2px 8px 0 Reba(0,0,0, 0.05);
}

.textbox input {
        border: none;
        outline: none;
        background: none;
        font-size: 16px;
        font-weight: 500;
        float: left;
        width: 95%;
        margin: 0 8px;
        color: #fff;
}

/** POSITION OF LOG IN BOX **/
.register {
  transform: rotate(90deg);
  left: 20%;
  top: 20%;
  width: 230px;
  margin-top: -150px: /* height/2 */
  margin-left: -115px; /* width/2 */
  position: absolute;
}

/** THE STYLE OF THE LOG IN BOX **/
.register-style{
        border-radius: 25px;
        background: rgba(26,26,26,.87);
        padding: 20px;
        height: 380px;
        width: 350px;
}

a, p, button, input, label{
        font-size: 14px;
}

.form-control, label{
        background-color: transparent;
        position: absolute;
        top: 25px;
        width: 100%;
        border:0;
        padding: 5px;
}

.btn-login{
        background-color: #F8B195;
        border: 0;
        padding: 8px 70px;
        border-radius: 50px;
}

.video-background {
        transform: rotate(270deg);
        margin-top: -700px;
        width: 100%;
        min-height: 87vh;
        background-size: cover;
        top: 5px;
}

/* FADING IN EFFECTS */
.fade-in-register-page {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
}

@keyframes fadeInOpacity {
        0% {
                opacity: 0;
        }
        100% {
                opacity: 1;
        }
}

* {
                margin: 0;
                padding: 0;
}

